{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-8">

				{% for flash_message in app.session.flashbag.get('error') %}
					<div class="alert alert-danger">
						{{ flash_message }}
					</div>
				{% endfor %}

				<div class="text-center mb-5">
					<h1 class="display-4">Créer avec passion, coder avec innovation.</h1>
					<p class="lead">Chaque projet est une nouvelle aventure qui me permet de découvrir et de m'améliorer constamment. En combinant passion et créativité, j’aborde chaque défi avec une perspective fraîche et innovante. Travailler avec moi, c'est choisir quelqu'un qui est aussi enthousiaste que vous pour explorer et réaliser des idées ambitieuses.</p>
				</div>

				{% for message in app.flashes('success') %}
					<div class="alert alert-success">
						{{ message }}
					</div>
				{% endfor %}

				<div class="mb-5">
					<h2>Contactez moi</h2>
					{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
					<div class="form-group">
						{{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
					</div>
					<div class="form-group">
						{{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
					</div>
					<div class="form-group">
						{{ form_row(form.message, {'attr': {'class': 'form-control'}}) }}
					</div>
					<div class="form-group">
						{{ form_row(form.send, {'attr': {'class': 'btn btn-primary'}}) }}
					</div>
					{{ form_end(form) }}
				</div>

				<div class="mb-5 text-center">
					<h2>Download My CV</h2>
					<a href="{{ asset('docs/cv.pdf') }}" class="btn btn-secondary" download="CV_Leo_VANSCOOR">Télécharger mon CV</a>
				</div>

				<div class="text-center">
					<h2>Connect with Me</h2>
					<a href="https://github.com/LeoVanscoor" class="btn btn-outline-dark" target="_blank">GitHub</a>
					<a href="https://www.linkedin.com/in/leovanscoor/" class="btn btn-outline-primary" target="_blank">LinkedIn</a>
					<a href="https://www.instagram.com/leo_ffall/" class="btn btn-outline-info" target="_blank">Instagram</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
