{% extends 'base.html.twig' %}

{% block body %}
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<div
					class="navbar-menu d-flex justify-content-between w-100">
					<!-- All Buttons and Logo on the same line -->
					<a href="http://google.fr" class="navbar-button">Button 1</a>
					<a href="http://google.fr" class="navbar-button">Button 2</a>

					<!-- Logo Centered -->
					<a href="{{ path('app_home') }}" class="navbar-logo mx-3">
						<img src="{{ asset('images/logo2.png') }}" alt="Logo">
					</a>

					<a href="http://google.fr" class="navbar-button">Button 3</a>
					<a href="http://google.fr" class="navbar-button">Button 4</a>
				</div>
			</div>
		</nav>
	</header>
	<style>
		.card-custom-shadow {
			box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Ombre déportée à droite et en bas */
		}

		.text-right {
			text-align: right !important; /* Aligne le texte à droite */
		}

		.card-title a,
		.author-link {
			text-decoration: none;
			color: inherit;
		}
	</style>

	<div class="container mt-4">
		<div class="row justify-content-center">
			{% for blogpost in blogposts %}
				<div
					class="col-md-8 mb-4">
					<!-- Card with custom shadow -->
					<div class="card card-custom-shadow rounded">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{ path('app_blog_post_show', {'id': blogpost.id}) }}">
									{{ blogpost.titre }}
								</a>
							</h5>
							<p class="card-text">{{ blogpost.chapo }}</p>
							<p class="card-text">{{ blogpost.contenu }}</p>
							<p class="card-text text-right">
								<small class="text-muted">Last updated:
									{{ blogpost.lastUpdated|date('F j, Y, g:i a') }}</small>
							</p>
							<p class="card-text text-right">
								<small class="text-muted">
									Author:
									<a href="{{ path('app_user_show', {'id': blogpost.author.id}) }}" class="author-link">
										{{ blogpost.author.email }}
									</a>
								</small>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
