{% extends 'base.html.twig' %}

{% block title %}BlogPost index
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="row justify-content-center">
			{% for blog_post in blog_posts %}
				<div
					class="col-md-8 mb-4">
					<!-- Card with custom shadow -->
					<div class="card card-custom-shadow rounded">
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{ path('app_blog_post_show', {'id': blog_post.id}) }}">
									{{ blog_post.titre }}
								</a>
							</h5>
							<p class="card-text">{{ blog_post.chapo }}</p>
							<p class="card-text">{{ blog_post.contenu }}</p>
							<p class="card-text text-right">
								<small class="text-muted">Last updated:
									{{ blog_post.lastUpdated|date('F j, Y, g:i a') }}</small>
							</p>
							<p class="card-text text-right">
								<small class="text-muted">
									Author:
									<a href="{{ path('app_user_show', {'id': blog_post.author.id}) }}" class="author-link">
										{{ blog_post.author.email }}
									</a>
								</small>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
